<div class="cover row">
    <h1>Config Details</h1>
</div>
<div class="cover row">
    <form id="frmEditConfig" class="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" id="[tid]_ballsInMainSet">[ballsInMainSet]</div>
            </div>
            <div class="col-md-12">
                <div class="form-group" id="[tid]_ballsDrawnInMainSet">[ballsDrawnInMainSet]</div>
            </div>
            <div class="col-md-12">
                <div class="form-group" id="[tid]_ballsInPowerBallSet">[ballsInPowerBallSet]</div>
            </div>
            <div class="col-md-12">
                <div class="form-group" id="[tid]_ballsDrawnPowerBallSet">[ballsDrawnPowerBallSet]</div>
            </div>
        </div>
        <div class="cover row">
            <div class="col-md-12">
                <div class="form-group col-md-6" id="[tid]_btnEdit">[btnEdit]</div>
                <div class="form-group col-md-6" id="[tid]_btnCancel">[btnCancel]</div>
            </div>
        </div>
    </form>
</div>