<?php
/**
 * Local Configuration Override
 */

return array(
	'doctrine'      => array(
		'connection' => array(
			'orm_default' => array(
				'params' => array(
					'host'     => 'localhost',
					'port'     => '3306',
					'dbname'   => 'lotto',
					'user'     => '',
					'password' => ''
				)
			)
		)
	)
);
